/* Responsive */

 @font-face {
    font-family:LibreBaskerville-Italic;
    src: url(/fonts/LibreBaskerville-Italic.ttf);
 }
 
 @media (max-width: 768px) {
   body{
      padding-top: 70px;
   }
   .header{
      height: 60px;
   }
   .logo{
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
   }
   .nav-menu{
      flex-direction: column;
      align-items: center;
      margin-right:20px;
      background-color: #ffffff;
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100%-60px);
      overflow-y: auto ;
      left: 100%;
      transition: left 0.3s;
   }
   .nav-menu-item{
      line-height: 70px;

   }
   .nav-menu-link{
      padding: 8px 12px;
      border-radius: 3px;
   
   }
   .nav-menu-link:hover,
   .nav-menu-link-active {
      background: none;
      color: #000000;
   }
   .nav-toggle{
    display: block !important;
   }
   .nav-menu_visible{
      left: 0;
   }
 }
 
 *{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
 }

 i{
    color: #34373C;
    text-align: center;
 }
 body{
    font-family: sans-serif;
    padding: 90px 0px 0;
    background-color: #f6f8ee;
 }
 
 .header{
    background-color: #036ea0;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
 }
 .nav{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif; 
    color: #34373C;
    font-size: 14px;
 }
 .nav-link{
    color: #34373C;
    text-decoration: none;
 }
 .logo{
    width: max-content;
    font-size: 16px;
    padding: 0 40px;
    line-height: 80px;
 }
 .nav-menu{
    display: flex;
    margin-right:40px;
    list-style: none;
 }
 .nav-menu-item{
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
 }
 .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
 }

 .nav-menu-link:hover,
 .nav-menu-link-active{
    background-color: #f6f8ee;
    transition: 0.5s;
 }

 .nav-toggle{
    color: #34373C;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
 }

 .contenedor{
    display: grid;
    flex-direction: column;
    min-height: 100vh; 
    padding: 10px 10px;
    margin: 0 30%;
    
 }

 .titulo{
    margin-top: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif; 
    color: #34373C;
    font-size: 36px;
 }

 .titulo2{
    margin-top: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif; 
    color: #396783;
    font-size: 14px;
    text-transform: uppercase;
 }

 .mas{
    color: #34373C;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    margin-top: 10px;
    text-decoration: none;
 }
 .parrafo{
    margin-top: 24px;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
 }

 .main-footer{
   background-color: #036ea0;
   height: 80px;
   width: 100%;
   top: 0;
   left: 0;
   margin-top: auto;
  }

 .footer{
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }

 .footer-list{
    display: flex;
    margin-right:40px;
    list-style: none;
 }
 
 /* Copyright */

 .copyright p{
   margin-top: 30px;
   color: #34373C;
   font-family:LibreBaskerville-Italic;
 }


 /* esta etiqueta es para darle estos atributos a la etiqueta a que representa los links */
 
 a{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Raleway', sans-serif;
    color: #34373C;
 }

 .footer-item{  
    font-size: 14px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
 }
 .main{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    flex-direction: column;
 }
 .articulo{
    margin-top: 10px;
 }

.lugar{
   margin-top: 30px;
   font-family: 'Libre Baskerville', serif;
   font-family: 'Raleway', sans-serif; 
   color: #34373C;
   font-size: 25px;
}

.carrera{
   margin-top: 30px;
   font-family: 'Libre Baskerville', serif;
   font-family: 'Raleway', sans-serif; 
   color: #34373C;
   font-size: 18px;
}

p{
   line-height: 1,0;

}
 /* Esta parte es para la seccion de contactos para quitarle el efecto de hipervinculo a las etiquetas a */
 
  .nombre{
   text-decoration: none;
  }

/* Estilo Contenedores de la Seccion de Inicio */

.ContenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    bottom: 70px;
}

.ContImagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.ContImagen .Card{
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0,0,0,0.2);
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
}

.ContImagen .Card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    background-color: #036ea0;
    transition: 0.5s;
}

.imgTG{
    width: 600px;
    height: 600px;
    border: 3px solid black;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 220px;
    z-index: 0;
 }








